/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  background: url('../images/bg.jpg') no-repeat 0 0;
  background-size:cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

@mainred: #ec1c23;
@maingrey: #7d7e81;

@import url("typo.less");

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-appearance: none;
}
::-khtml-scrollbar {
  width: 5px;
  height:5px;
}
::-moz-scrollbar {
  width: 5px;
  height: 5px;
}
::-ms-scrollbar {
  width: 5px;
  height: 5px;
}
::-o-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px #0000001A;
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px #0000001A;
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px #0000001A;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainred;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainred;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainred;
}

@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width:0;
  }
  100% {
    transform: translate(300%, 0);
    width:45%;
  }
}
.page-loader{
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 1;
  background: #fff;
  display: block;
  will-change:opacity;
  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

  .logo {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:10vw;
    margin-top: 20vw;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  }


  &.loaded {
    //visibility: hidden;
    /*    display: none;*/
    opacity: 0;

    .logo {
      margin-top: -5vw;
      opacity: 0;
    }
    .loader-bar {
      height: 0;
    }

  }

  .loader-bar {
    width: 10%;
    height: 10px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 9;
    position: relative;
    top: 2vw;

    &:after {
      content:'';
      background:#7d7e81;
      position:absolute;
      width:20%;
      height:45%;
      left:0;
      top:0px;

      -webkit-animation: loading-anim 3s infinite forwards;
      -khtml-animation: loading-anim 3s infinite forwards;
      -moz-animation: loading-anim 3s infinite forwards;
      -ms-animation: loading-anim 3s infinite forwards;
      -o-animation: loading-anim 3s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
    &:before {
      content:'';
      background:@mainred;
      position:absolute;
      width:20%;
      height:45%;
      left:0;
      top:0px;

      -webkit-animation: loading-anim 3s infinite reverse;
      -khtml-animation: loading-anim 3s infinite reverse;
      -moz-animation: loading-anim 3s infinite reverse;
      -ms-animation: loading-anim 3s infinite reverse;
      -o-animation: loading-anim 3s infinite reverse;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
  }
}
#rotateScreen {
  display: block;
  position: fixed;
  opacity:0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: @mainred;
  background-size: cover;
  will-change: transform;
  //-webkit-transform: scale(0);
  //-khtml-transform: scale(0);
  //-moz-transform: scale(0);
  //-ms-transform: scale(0);
  //transform: scale(0);
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;

  h1,h2 {
    color:#ffffff;
    text-align: center;
    font-style:normal;
    opacity:0;
    max-width: 50vw;
    margin: 0 auto 20px auto;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;


  }
  h1 {
    position:relative;
    top:40px;
    font-size: 3vw;
    line-height: 4vw;
    transition-delay:1.4s;
    font-family: 'telkom-bold';
  }
  h2 {
    font-family: 'telkom-light';
    position:relative;
    top:80px;
    font-size: 2vw;
    transition-delay:1.6s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(16deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  span {
    width: 64px;
    height: 64px;
    display:block;
    margin: -14vw auto 55vw auto;
    opacity:0;
    position:relative;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;

    transition-delay:1.2s;

    &:after {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:2;
      width: 64px;
      height: 64px;
      display:block;
      background:url(../images/rotate-display-icon2.svg) no-repeat top left;

      -webkit-animation: rotate 2s infinite forwards;
      -khtml-animation: rotate 2s infinite forwards;
      -moz-animation: rotate 2s infinite forwards;
      -ms-animation: rotate 2s infinite forwards;
      -o-animation: rotate 2s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    &:before {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:4;
      width: 64px;
      height: 64px;
      display:block;
      background:url(../images/rotate-display-icon.svg) no-repeat top left;
    }
  }

  &.active {
    opacity:1;
    z-index: 999;
    //-webkit-transform: scale(1);
    //-khtml-transform: scale(1);
    //-moz-transform: scale(1);
    //-ms-transform: scale(1);
    //transform: scale(1);
    //width: 100%;
    display: block;

    h1, h2 {
      opacity:1;
      top:0;
    }

    span {
      margin: 11vw auto 3vw auto;
      opacity:1;
    }
  }
}
#backUp {

  display:inline-block;
  background:@maingrey;
  padding: 1vw;
  outline: 0 !important;
  box-shadow: -2px 8px 19px -17px #272727;

  position: fixed;
  bottom: 0;
  right: 2vw;
  opacity: 0;
  visibility: hidden;
  z-index: 4;

  will-change:transform,opacity;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;

  transform: translateY(300px);

  img {
    top: 7px;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.5s;
  }

  &:hover {

    img {
      transform: translateY(-5px);
    }
  }

  &.minimise {
    font-size: 0;
    color:@mainred;

    img {
      top: 10px;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
    width:auto;
    transform: translateY(0);
  }

  @media screen and (min-width: 200px) and (max-width: 990px) {
    bottom: 20vw;
    right: 4vw;

    img {
      top: 1vw;
    }

    &.minimise {

      img {
        top: 10px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 990px) {
    bottom: 10vw;
    right: 2vw;

    img {
      top: 1vw;
    }

    &.minimise {

      img {
        top: 10px;
      }
    }
  }
}

header {
  overflow: hidden;

  .links {
    float:right;
    display:flex;
    margin:1vw 1vw 1vw 1vw;


    a {
      color:#ffffff;
      font-family: 'frutiger-bold';
      text-decoration:none;
      margin-right:10px;
      background:@mainred;
      padding: 10px 20px;
      transform: scale(0.9);
      border-radius: 15px;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

      &:hover {
        transform:scale(0.95);
      }

      &:last-of-type {
        margin-right:0;
      }
    }
  }
}
footer {
  padding: 3vw 10vw;
  background: #fff;

  .logo {
    max-width: 200px;
  }
  .footer-section {

    h2 {
      margin:0 0 1vw 0;
      color:@mainred;
    }
    a {
      display:block;
      color:@maingrey;
    }
  }
  .copyright {
    color:@maingrey;
    font-size:12px; line-height:14px;
  }
}

.content-section {

  img {width:100%;}
}
#top-banner {
  background:transparent url('../images/header-bg.jpg') no-repeat 50% 50%;
  margin: 3vw auto;
  background-size: contain;

  .banner {
    max-width:1293px;
    margin: 0 auto;

    .info {
      background:#d1d2d3;
      position:relative;
      max-width:40vw;
      margin:-5vw auto 0 auto;
      padding:2vw 2vw 2vw 8vw;
      border:4px solid #5f5e5e;

      p {
        font-size:30px;
        line-height:42px;
        color:#5f5e5e;
        margin:0;
      }

      &:before {
        content:'';
        position:absolute;
        top:0; left:0;
        width:132px; height:132px;
        border:4px solid #5f5e5e;
        border-top:0; border-left:0;
        background: url('../images/header-info-icon_01.jpg') no-repeat 0 0;
      }
    }
  }
}
#video-banner {
  background:transparent url('../images/video-holder.png') no-repeat 50% 50%;
  margin: 3vw auto;

  .video {
    max-width:1402px;
    min-height:920px;
    margin: 0 auto;
    position:relative;

    #getStarted {
      position:absolute;
      bottom: 2px;
      left: 5vw;
      margin: 0 auto;
      max-width: 530px;
    }
    iframe {
      position:absolute;
      top: 189px;
      left: 0;
      //width: 60vw;
      //height: 35.3vw;
      width: 90%;
      height: 677px;
      background:#2c2c2c;
      border:4px solid #5f5e5e;
    }


  }
}
#how-to {
  margin: 3vw auto;

  .banner {
    max-width:1502px;
    margin: 0 auto;

    .info {

      position:relative;
      max-width: 87.5%;
      margin: -5vw auto 0 auto;

      ul {
        list-style:none;
        position:relative;
        z-index:2;

        li {
          margin-bottom:20px;
          //display:flex;

          span, a {
            border:4px solid #5f5e5e;
            display:inline-block;
            margin:0;
            position:relative;
          }
          span {
            font-family: 'frutiger-bold';
            border:4px solid #5f5e5e;
            background:#fff;
            color:#7c7d81;
            font-size:110px;
            line-height:110px;
            padding:1vw 2vw;
            z-index:2;
          }
          a {
            font-size:30px;
            line-height:42px;
            background:@mainred;
            color:#fff;
            padding:2vw 2vw 2vw 4vw;
            z-index:1;
            bottom: 28px;
            right: 30px;

            b {
              text-transform: uppercase;
              font-family: 'frutiger-bold';
            }

          }
        }
      }

      .back-block {
        background:#d1d2d3;
        padding:2vw 2vw 2vw 8vw;
        border:4px solid #5f5e5e;
        position:absolute;
        left: 116px;
        top: 23px;
        height: 88%;
        width: 57%;
        z-index:1;
      }
    }
  }
}
#sign-up {
  margin: -330px auto 3vw auto;

  .banner {
    max-width:1517px;
    margin: 0 auto;
    position: relative;
    a {
      position: absolute;
      font-family: 'frutiger-bold';
      font-size: 60px;
      line-height: 60px;
      color: #ec1c23;
      padding: 2vw 2vw 2vw 4vw;
      z-index: 1;
      bottom: 185px;
      left: 0;
      width: 94%;
      text-align: center;
    }
  }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@import url("responsive.less");
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

